@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
}

body {
    background-image: url(img/bois.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    text-align: center;
    font-size: 60px
}

.game {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background-color: blue;
    box-shadow: 5px 10px 10px 5px black;
    padding: 1.5rem;

}

.cases {
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
}

.cases:hover {
    background-color: grey;
    transition: .5s;
    rotate: 180deg;
    box-shadow: 5px 5px 30px 10px white;
}

.reset {
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    border-radius: 5px;
    width: 20rem;
    text-align: center;
    padding: 5px 10px;
    background-color: blue;
    color: yellow;
    letter-spacing: 2px;
    transition: .3s;
    cursor: pointer;
    font-size: 25px;
}

.reset:hover {
    background-color: yellow;
    color: red;
}

h3 {
    padding: 10px 30px;
    border: 1px solid black;
    width: 400px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}