<div class="container">
    <div class="zone_text">
        <div class="panel_body">
            <form action="" method="post" id="">
                <textarea name="tweet" id="" rows="5" style="margin-bottom:10px" ; placeholder="Exprimez-vous"></textarea>
                <div>
                    <button name="submit_tweet" type="submit">Tweeter</button>
                </div>
            </form>
            <div class="tweet">
                <!-- <?php echo $result; ?> -->
            </div>
        </div>
    </div>
</div>