<div class="container left-container">
    <div class="row">
        <div class="twelve.columns">
            <div class="sidebar">
                <div class="user">
                    <a class="username" id="img" href="profil de l'user"><img class="img-responsive" src="../view/media/user.png" height="85%" width="40%" alt=""></a>
                    <a class="username" id="id_user" href="profil de l'user">Bob la tinp</a>
                </div>
                <br>
                <br>
                <div class="onglets">
                    <ul>
                        <li class="search">
                            <input class="left-input" id="input-left" type="text" placeholder="Rechercher un profil...">
                            <button class="btnsearch" type="submit"><img src="../view/media/loupebl.png" alt=""></button>
                        </li>
                        <li>
                            <a class="left_home" id="home" href="#">Home</a>
                        </li>
                        <li>
                            <a class="left_profil" id="profil" href="#">Profil</a>
                        </li>
                        <li>
                            <a class="left_sms" id="sms" href="#">Messages</a>
                        </li>
                        <li>
                            <a class="left_deco" id="deco" href="#">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </div>


            <footer>
                <div class="myfooter">
                    <a href="#">Contact</a>
                    <p>&copy; Twitter académie 2007 - 2022</p>
                </div>
            </footer>

        </div>
    </div>

</div>
<div class="container2 left-container2"></div>
<div class="row"></div>
<div class="twelve.columns"></div>
<div class="sidebar"></div>

<div class="container feed_container">
    <div class="row">
        <div class="twelve.columns"></div>
        <div id="console"></div>

        <form action="" name="messages">
            <input name="usermsg" type="text" id="" size="63">
            <input name="submitmsg" type="submit" id="" value="Send">
        </form>
    </div>


</div>