<div class="profil">
    <div class="boxProfil">
        <form id="formProfil" action="">
            <label for="">Change your username :</label>
            <div class="changebox">
                <input id="changeInput" type="text" placeholder="Change username..">
                <button id="formBtn">Send</button>
            </div>
            <label for="">Change your profile picture :</label>
            <div class="pictureProfil">
                <input type="file">
                <button>Send</button>
            </div>
        </form>
    </div>

    <div class="follow">
        <div class="numberFollow">
            <label for="">Follow :</label>
            <div id="yourFollow"></div>
        </div>
        <div class="numberFollowing">
            <label for="">Following :</label>
            <div id="yourFollowing"></div>
        </div>
    </div>

    <div class="resume">
        <div class="profilResume">
            <label id="labelProfil" for="">Your username :</label>
            <p id="pUsername" class="infos">Username</p>
        </div>
        <div class="profilResume">
            <label id="labelProfil" for="">Your Lastname :</label>
            <p id="pLastname" class="infos">Lastname</p>
        </div>
        <div class="profilResume">
            <label id="labelProfil" for="">Your Firstname :</label>
            <p id="pFirstname" class="infos">Firstname</p>
        </div>
        <div class="profilResume">
            <label id="labelProfil" for="">Your Birthdate :</label>
            <p id="pDob" class="infos">Birthdate</p>
        </div>
        <div class="profilResume">
            <label id="labelProfil" for="">Your mail address :</label>
            <p id="pMail" class="infos">Email</p>
        </div>
    </div>
</div>