<div class="container co co-container">
    <form method="post" class="sub-form" id="sub_form">
        <div class="row">
            <div class="twelve.columns">
                <img src="view/media/twitter.png" height="50px" width="50px" alt="">
            </div>
        </div>
        <div class="row">
            <div class="twelve.columns">
                <h2>Inscription</h2>
            </div>

            <div class="row">
                <div class="twelve.columns">
                    <input type="text" class="form-content" id="pseudo" name="pseudo" placeholder="Pseudo" required>
                </div>
            </div>
            <div class="row">
                <div class="twelve.columns">
                    <input type="text" class="form-content" id="lastname" name="fuser_name" placeholder="Prénom" required></div>
            </div>

            <div class="row">
                <div class="twelve.columns">
                    <input type="text" class="form-content" id="firstname" name="luser_name" placeholder="Nom" required></div>
            </div>

            <div class="row">
                <div class="twelve.columns">
                    <input type="date" class="form-content" id="birthday" name="user_bday" placeholder="Date de Naissance" required></div>
            </div>

            <div class="row">
                <div class="twelve.columns">
                    <input type="email" class="form-content" id="mail1" name="user_email" placeholder="Adresse Mail" required></div>
            </div>

            <div class="row">
                <div class="twelve.columns">
                    <input type="email" class="form-content" id="mail2" name="user_email" placeholder="Confirmer Adresse Mail" required></div>
            </div>

            <div class="row">
                <div class="twelve.columns">
                    <input type="password" class="form-content" id="password1" name="user_password" placeholder="Mot de Passe" required></div>
            </div>

            <div class="row">
                <div class="twelve.columns">
                    <input type="password" class="form-content" id="password2" name="user_password" placeholder="Confirmer Mot de Passe" required></div>
            </div>


            <button type="submit" id="register_btn">ENVOYER</button>

    </form>
    </div>
</div>